.Address{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.icons{
    width: 25px;
    height: 25px;
}
.adress{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.adress .icon{
    width: 20px;
    height: 20px;
}